body {
  background-color: white;
  font-family: "Muli", sans-serif;
  font-size: 18px;
  margin: 0;
  padding: 0;
}

a {
  color: black;
}

.emailBannerTop {
  display: flex;
  background-color: white;
  height: 80px;
  border-bottom: 1px solid #949697;
  width: 100%;
}
.emailBannerTop .centeredAddress {
  width: 1000px;
  display: flex;
  margin-left: auto;
  margin-right: auto;
  width: 1000px;
  flex-direction: column;
  justify-content: flex-end;
}
.emailBannerTop .centeredAddress a {
  text-decoration: none;
  color: black;
  padding-bottom: 10px;
  font-size: 18px;
}

.header {
  display: flex;
  border-bottom: 1px solid #949697;
  flex-direction: column;
  justify-content: center;
  width: 1000px;
  display: flex;
  margin-left: auto;
  margin-right: auto;
  font-family: "Muli", sans-serif;
  font-size: 18px;
  color: black;
  padding-top: 10px;
}
.header .logowithNav {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
  align-content: center;
}
.header .logowithNav img {
  margin-top: 10px;
}
.header .logowithNav ul {
  display: flex;
  width: 500px;
  height: 30px;
  list-style: none;
  justify-content: space-between;
  font-size: 20px;
}
.header .logowithNav ul li {
  padding-right: 20px;
  padding-left: 20px;
}
.header .logowithNav ul li:hover {
  background: #E9EEF0;
}
.header .logowithNav ul #homelink {
  width: 100px;
  text-align: center;
  background: #E9EEF0;
}
.header .searchBar {
  display: inherit;
  flex-direction: row;
  justify-content: space-between;
  flex-wrap: wrap;
  align-items: center;
}
.header .searchBar #searchSpot {
  border: 1px solid #949697;
  height: 30px;
  width: 300px;
  border-radius: 5px;
}
.header .headerlinkRow {
  display: inherit;
  flex-direction: row;
  justify-content: space-between;
  align-content: center;
  margin-bottom: 10px;
  height: 50px;
}
.header .headerlinkRow #upcomingBtn {
  background-color: #2689DC;
  border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 18px;
  border-radius: 30px;
}
.header .headerlinkRow .redBtn {
  background-color: #FF0000;
  border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 18px;
  border-radius: 30px;
}
.header .headerlinkRow img {
  height: 100%;
}

.mainContent {
  display: flex;
  width: 1000px;
  display: flex;
  margin-left: auto;
  margin-right: auto;
  flex-direction: column;
}
.mainContent .welcomeIntro {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-bottom: 30px;
  align-items: center;
}
.mainContent .welcomeIntro h1 {
  color: red;
  font-size: 38px;
}
.mainContent .welcomeIntro p {
  font-size: 18px;
}
.mainContent .welcomeIntro .introText {
  display: inherit;
  flex-direction: column;
}
.mainContent .welcomeIntro .introImg {
  display: inherit;
  margin-top: 40px;
  margin-left: 20px;
}
.mainContent .imageBlocks {
  display: flex;
  width: auto;
  flex-direction: row;
  justify-content: space-between;
  margin: 0;
  margin-bottom: 30px;
}
.mainContent .imageBlocks #image1 {
  position: relative;
  opacity: 0.5;
}
.mainContent .imageBlocks #image1 #imagetext1 {
  display: flex;
  justify-content: center;
  align-items: flex-end;
  position: absolute;
  bottom: 8px;
  background-color: #E8EA5E;
  text-decoration: underline;
}
.mainContent .imageBlocks #image2 {
  position: relative;
  opacity: 0.5;
}
.mainContent .imageBlocks #image2 #imagetext2 {
  display: flex;
  justify-content: center;
  align-items: flex-end;
  position: absolute;
  bottom: 8px;
  background-color: #E8EA5E;
  text-decoration: underline;
}
.mainContent .imageBlocks #image3 {
  opacity: 0.5;
  position: relative;
}
.mainContent .imageBlocks #image3 #imagetext3 {
  display: flex;
  justify-content: center;
  align-items: flex-end;
  position: absolute;
  bottom: 8px;
  background-color: #E8EA5E;
  text-decoration: underline;
}
.mainContent .upcomingEventsIntro {
  background-color: #E9EEF0;
  margin-bottom: 0;
}
.mainContent .upcomingEventsIntro h1 {
  text-align: center;
  font-size: 40px;
}
.mainContent .upcomingEventsIntro img {
  float: left;
}
.mainContent .taWorkshop {
  background-color: #E9EEF0;
  margin-top: 0;
  margin-bottom: 0;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
.mainContent .taWorkshop h3 {
  font-size: 25px;
}
.mainContent .taWorkshop .workshopInfo {
  flex-direction: column;
  width: 600px;
  line-height: 40%;
}
.mainContent .taWorkshop .workshopInfo p {
  line-height: normal;
}
.mainContent .taWorkshop .workshopSetting {
  flex-direction: column;
  text-align: right;
}
.mainContent .taWorkshop .workshopSetting button {
  border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 18px;
  border-radius: 30px;
  background-color: #FF0000;
}
.mainContent .taWorkshop .workshopSetting ul {
  display: flex;
  width: 500px;
  height: 30px;
  list-style: none;
  justify-content: space-between;
  font-size: 20px;
  flex-direction: column;
}
.mainContent .upcomingEvents {
  background-color: #E9EEF0;
  margin-bottom: 30px;
  display: flex;
  flex-direction: row;
}
.mainContent .upcomingEvents #presentedBy {
  font-style: italic;
}
.mainContent .upcomingEvents .presentedPic {
  flex-direction: column;
  margin-right: 20px;
}
.mainContent .upcomingEvents .presentedInfo {
  flex-direction: column;
  margin-right: 200px;
}
.mainContent .bottomNav {
  display: flex;
  background-color: #BFC2C3;
  height: 80px;
  justify-content: center;
  align-items: center;
  margin-bottom: 30px;
}
.mainContent .bottomNav ul {
  display: flex;
  width: 500px;
  height: 30px;
  list-style: none;
  justify-content: space-between;
  font-size: 20px;
}
.mainContent .bottomAddressBlock {
  display: flex;
  background-color: black;
  color: white;
  flex-direction: row;
  align-content: center;
  justify-content: space-around;
  text-align: center;
  font-size: 18px;
  line-height: 40%;
}
.mainContent .bottomAddressBlock #mailingAdd {
  text-decoration: underline;
}
.mainContent #copyright {
  margin-top: 0;
  font-size: 15px;
  background-color: black;
  color: #BFC2C3;
  text-align: center;
  padding-bottom: 10px;
}

/*# sourceMappingURL=output.css.map */
