// Variables
$taRed: #FF0000;
$taBlue: #2689DC;
$contentWidth: 1000px;
$lineBorder: 1px solid #949697;
$dkGray: #BFC2C3;
$ltGray: #E9EEF0;
$yellow: #E8EA5E;
$sectionSpacing: 30px;
$lineHeight: 40%;


// mixins

@mixin smallCenter {
  margin-left: auto;
  margin-right: auto;
}

@mixin centerContent {
  width: $contentWidth;
  @include smallCenter;
}

@mixin button {
  border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 18px;
  border-radius: $sectionSpacing;
}

@mixin navBars {
  display: flex;
  width: 500px;
  height: 30px;
  list-style: none;
  justify-content: space-between;
  font-size: 20px;
}

@mixin imageLinks {
  display: flex;
  align-items: flex-end;
  position: absolute;
  bottom: 8px;
  text-align: center;
  width: 90%;
  left: 50%;
  right: 50%;
  transform: translate(-50%, -50%);
  background-color: $yellow;
  text-decoration: underline;
}

// Styles

body {
  background-color: white;
  font-family: 'Muli', sans-serif;
  font-size: 18px;
  margin: 0;
  padding: 0;
}

a {
color: black;
}

.backgroundBlock {
  display: block;
  background-color: white;
  width: 100%;
  z-index: 3;
  overflow: hidden;
  position: fixed;
  top: 0;
  height: 299px;
}

.totalHeader {
  display: block;
  @include centerContent;

  .header {
    z-index: 3;
    overflow: hidden;
    position: fixed;
    top: 0;
    background-color: white;
    display: flex;
    width: $contentWidth;
    border-bottom: $lineBorder;
    flex-direction: column;

    .centeredAddress {
      display: flex;
      height: 80px;
      flex-direction: column;
      justify-content: flex-end;
      border-bottom: $lineBorder;
      a {
        text-decoration: none;
        color: black;
        padding-bottom: 10px;
        font-size: 18px;
      }
    }

    .logowithNav {
      display: flex;
      flex-direction: row;
      flex-wrap: wrap;
      justify-content: space-between;
      align-content: center;
      img {
        margin-top: 10px;
      }
      ul {
        margin-right: 5px;
        @include navBars;
        li {
          padding-right: 20px;
          padding-left: 20px;
        }
        li:hover {
          background: $ltGray;
        }
        #homelink {
          width: 100px;
          text-align: center;
          background: $ltGray;
        }
      }
    }

    .searchBar {
      display: inherit;
      flex-direction: row;
      justify-content: space-between;
      flex-wrap: wrap;
      align-items: center;
      #searchSpot {
        border: $lineBorder;
        height: $sectionSpacing;
        width: 300px;
        border-radius: 5px;
      }
    }

    .headerlinkRow {
      display: inherit;
      flex-direction: row;
      justify-content: space-between;
      align-items: center;
      margin-bottom: 10px;
      height: 50px;
      #upcomingBtn {
        background-color: $taBlue;
        @include button;
      }
      #fblike {
        width: 90px;
        height: 30px;
      }
      .redBtn {
        background-color: $taRed;
        @include button;
      }
      img {
        height: 100%;
      }
    }
  }
}


.mainContent {
  z-index: -1;
  background-color: white;
  margin-top: 300px;
  display: flex;
  @include centerContent;
  flex-direction: column;

  .welcomeIntro {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-bottom: $sectionSpacing;
    align-items: center;
    h1 {
      color: red;
      font-size: 38px;
    }
    p {
      font-size: 18px;
    }
    .introText {
      display: inherit;
      flex-direction: column;
    }
    .introImg {
      display: inherit;
      margin-top: 40px;
      margin-left: 20px;
    }
  }

  .imageBlocks {
    z-index: 1;
    display: flex;
    width: auto;
    flex-direction: row;
    justify-content: space-between;
    margin-left: 0;
    margin-right: 0;
    margin-bottom: $sectionSpacing;
    #image1, #image2, #image3 {
      position: relative;
      opacity: 0.5;
    }
  }
}

#imagetext1, #imagetext2, #imagetext3 {
  @include imageLinks;
  opacity: none;
  text-align: center;

}

.greyBackground {
  width: 100%;
  background-size: cover;
  background-color: $ltGray;
  margin-bottom: $sectionSpacing;
  .centeredEvents {
    display: flex;
    @include centerContent;
    flex-direction: column;

    .upcomingEventsIntro {
      z-index: 2;
      margin-bottom: 0;
      h1 {
        text-align: center;
      }
      #LCClogo {
        position: relative;
      }
      h3 {
        position: absolute;
        height: 40px;
        bottom: -5px;
        left: 150px;
        text-align: center;
        font-size: 30px;
        color: #6D4B19;
        background-color: tan;
        width: 500px;
        font-family: serif;
      }
    }

    .taWorkshop {
      margin-top: 0;
      margin-bottom: 0;
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      h3 {
        font-size: 25px;
      }
      .workshopInfo {
        flex-direction: column;
        width: 900px;
        line-height: $lineHeight;
        p {
          line-height: normal;
        }
      }
      .workshopSetting {
        flex-direction: column;
        text-align: right;
        button {
          @include button;
          background-color: $taRed;
          }
        ul {
          display: flex;
          flex-direction: column;
          width: 500px;
          height: 90px;
          list-style: none;
          justify-content: space-between;
          font-size: 20px;
          }
      }
    }

    .upcomingEvents {
      margin-bottom: $sectionSpacing;
      display: flex;
      flex-direction: row;
      #presentedBy {
        font-style: italic;
      }
      .presentedPic {
        float: left;
        flex-direction: column;
        margin-right: 20px;
      }
      .presentedInfo {
        flex-direction: column;
        margin-right: 200px;
      }
    }
  }
}

.pageBottom {
  z-index: -1;
  background-color: white;
  display: flex;
  @include centerContent;
  flex-direction: column;
  .bottomNav {
    display: flex;
    background-color: $dkGray;
    height: 80px;
    justify-content: center;
    align-items: center;
    margin-bottom: $sectionSpacing;
    ul {
      @include navBars;
    }
  }


  .bottomAddressBlock {
    @include centerContent;
    display: flex;
    background-color: black;
    color: white;
    flex-direction: row;
    align-content: center;
    justify-content: space-around;
    text-align: center;
    font-size: 18px;
    line-height: $lineHeight;
    #mailingAdd {
      text-decoration: underline;
    }
  }

  #copyright {
    @include centerContent;
    margin-top: 0;
    font-size: 15px;
    background-color: black;
    color: $dkGray;
    text-align: center;
    padding-bottom: 10px;
  }
}
