// Variables
$taRed: #FF0000;
$taBlue: #2689DC;
$contentWidth: 1100px;
$lineBorder: 1px solid #949697;
$dkGray: #949697;
$ltGray: #E2E4E5;


// mixins
@mixin largeText {
  font: {
    font: sans-serif;
    size: 18px;
  }
  color: black;
}

@mixin centerContent {
  width: $contentWidth;
  display: flex;
  margin-left: auto;
  margin-right: auto;
}

@mixin button {
  border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 18px;
  border-radius: 20px;
}

@mixin navBars {
  width: 400px;
  list-style: none;
  display: inline-flex;
  justify-content: space-between;
}

// Styles

body {
  background-color: white;
  font-family: sans-serif;
  font-size: 14px;
  margin: 0;
  padding: 0;
}

.emailBannerTop {
  display: flex;
  background-color: white;
  height: 80px;
  border-bottom: $lineBorder;
  width: 100%;

  .centeredAddress {
    @include centerContent;
    width: $contentWidth;
    flex-direction: column;
    justify-content: flex-end;
    a {
      text-decoration: none;
      color: black;
      padding-bottom: 10px;
      font-size: 18px;
    }
  }
}

.header {
  display: flex;
  border-bottom: $lineBorder;
  flex-direction: column;
  justify-content: center;
  @include centerContent;
  @include largeText;
  padding-top: 10px;
  .logowithnav {
    display: inherit;
    flex-direction: row;
    justify-content: space-between;
  }
  .logowithnav ul {
    display: inline-flex;
    @include navBars;
  }

  .searchBar {
    display: inherit;
    flex-direction: row;
    flex-wrap: wrap;
    align-content: center;
    #searchSpot {
      width: 150px;
    }
  }
  .headerlinkRow {
    display: inherit;
    flex-direction: row;
    justify-content: space-around;
    align-content: center;
    margin-bottom: 10px;
    height: 50px;
    #upcomingBtn {
      background-color: $taBlue;
      @include button;
    }
    #videoBtn {
      background-color: $taRed;
      @include button;
    }
    img {
      height: 100%;
    }
  }
}

.mainContent {
  display: flex;
  @include centerContent;
  flex-direction: column;


  .welcomeIntro {

    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-bottom: 30px;
    align-items: center;
    h1 {
      color: red;
      font-size: 38px;
    }
    p {
      font-size: 18px;
    }
    .introText {
      display: inherit;
      flex-direction: column;
    }
    .introImg {
      display: inherit;
      margin-top: 40px;
      margin-left: 20px;
    }

  }

  .imageBlocks {
    display: flex;
    width: auto;
    flex-direction: row;
    justify-content: space-between;

  }

  .upcomingEventsIntro {

  }

  .upcomingEvents {
    background-color: $ltGray;
    margin-bottom: 30px;
  }




  .bottomNav {
    display: flex;
    background-color: $dkGray;
    height: 60px;
    justify-content: center;
    align-items: center;
    margin-bottom: 30px;
    ul {
      @include navBars;
    }
  }





  .bottomAddressBlock {
    display: flex;
    background-color: black;
    color: white;
    flex-direction: row;
    justify-content: space-around;
    text-align: center;
  }

  #copyright {
    margin-top: 0;
    background-color: black;
    color: white;
    text-align: center;
    padding-bottom: 10px;
  }
}
